@tailwind base;
@tailwind components;
@tailwind utilities;



/* Fuentes tamaños y pesos */
.titulo{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2.625; 
}

.titulo-ligero{
    font-family:"Montserrat", sans-serif;
    font-weight: 400;
    font-size: 2.625;
} 

.subtitulo{
    font-family:"Montserrat", sans-serif;
    font-size: 1.625rem;
    font-weight:400;
    font-style: normal;
} 
.subtitulo-pesado{
    font-family:"Montserrat", sans-serif;
    font-size: 1.625rem;
    font-weight: 600;
    font-style: normal;
} 

.texto{
    font-family:"Carrois Gothic SC", sans-serif;
    font-size: 1rem;
} 
/* Fuentes tamaños y pesos */


/* Colores */

.bg-blue-1{
    background-color: white/* #EFFAFF */;
}

.bg-blue-2{
  background-color: #0088CC;
}

.clr-blue-3{
  color: #11567D;

}

.-bg-withe{
  background-color: #FFFFFF;
}

.bg-black{
  background-color: #000000;
}

.bg-orange{
  background-color: #F5A747;
}

.bg-green{
  background-color: #66C771;
}
/* Colores */


.lupa{
    background-image: url(../../components/img/search.svg);
    background-repeat: no-repeat;
    background-position: center;
}



/* Progress-Bar */
.progress-ring__circle {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
/* Progress-Bar */



/*------ Settings ------*/
.container {
    --color: #a5a5b0;
    --size: 30px;
    display: flex;
    cursor: pointer;
    user-select: none;
  }
  
  .container .star-regular {
    animation: keyframes-star .5s;
    justify-content: center;
  }
  
  .container .star-solid {
    animation: keyframes-star .5s;
    justify-content: center;
    display: none;
  }
  
  /* ------ On check event ------ */
  .container input:checked ~ .star-regular {
    display: none;
  }
  
  .container input:checked ~ .star-solid {
    display: block;
  }
  
  /* ------ Hide the default checkbox ------ */
  .container input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* ------ Animations ------ */
  @keyframes keyframes-star {
    0% {
      transform: rotate(0deg) scale(0);
      opacity: 0;
    }
  
    50% {
      transform: rotate(10deg) scale(1.3);
    }
  }